.modalWindow {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    z-index: 10;
}

.modalWindow.activeT {
    transform: scale(1);
}

.modalWindow__content {
    padding: 30px;
    border-radius: 12px;
    background-color: white;
    width: 800px;
    height: 700px;
}

.modalWindow__content h1 {
    font-family: 'Nunito';
    text-align: center;
}

.modalWindow__box label {
    display: block;
    font-family: 'HeroR';
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.modalWindow__box .field {
    width: 95.8%;
    background-color: transparent;
    outline: none;
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: 'HeroR';
    letter-spacing: 0.5px;
}

.modalWindow__box .mess {
    resize: none;
    height: 200px;
}

.modalWindow__content button {
    position: relative;
    width: 100%;
    background-color: #b95f60;
    outline: none;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 20px 0;
    font-size: 17px;
    letter-spacing: 1px;
    transition: .3s;
}

.modalWindow__content button::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0px;
    height: 60px;
    border-radius: 10px;
    z-index: 1;
    transition: .3s;
    background-color: #e62a2e;

}

.modalWindow__content button span {
    position: relative;
    z-index: 3;
    color: white;
    letter-spacing: 0.5px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.modalWindow__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}


.modalWindow__content button:hover::after {
    width: 800px;
}

.modalWindow__content button:active {
    width: 95%;
}