.courses_cards-one {
    background-color: lightgray;
    color: black;
}

.courses_cards-two {
    background-color: lightgray;
    color: black;
}

.courses_cards-tree {
    background-color: lightgray;
    color: black;
}


.courses_cards-four {
    background-color: lightgray;
    color: black;
}


.courses_cards-five {
    background-color: lightgray;
    color: black;
}


.courses_cards-six {
    background-color: lightcoral;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses_cards-six .courses__slider-subtitle-part {
    display: none;
}