.courses {
    position: absolute;
    top: 95vh;
    right: 0;
    left: 280px;
    max-width: 1595px;
    padding: 0 15px;
    background-color: var(--white);
}

.courses__container {
    padding: 0 80px;
    height: 120vh;
}

.courses__container::before {
    content: '';
    position: absolute;
    top: -20vh;
    left: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 1660px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 20vh solid var(--white);
}

.courses__title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.courses__title h1 {
    font-family: 'Nunito';
    letter-spacing: 0.5px;
}