body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --white: #f2f7f2;
  --pink: #8e5572;
  --brown: #88665d;
  --lightbrown: #bcaa99;
}

@font-face {
  font-family: 'Nunito';
  src: url(/fonts/ofont.ru_Nunito.ttf);
}

@font-face {
  font-family: 'Hero';
  src: url(/fonts/ofont.ru_Hero.ttf);
}

@font-face {
  font-family: 'HeroR';
  src: url(/fonts/ofont.ru_HeroRegular.ttf);
}

@font-face {
  font-family: 'Giger';
  src: url(/fonts/Giger.ttf);
}

@font-face {
  font-family: 'Proxima';
  src: url(/fonts/ofont.ru_Proxima.ttf);
}

@font-face {
  font-family: 'Ramona';
  src: url(/fonts/ofont.ru_Ramona.ttf);
}

@font-face {
  font-family: 'Patsy';
  src: url(/fonts/ofont.ru_Patsy\ Sans.otf);
}