.NewsPage {
    position: absolute;
    top: 0;
    right: 0;
    left: 280px;
    padding: 0;
    margin: 0;
    max-width: 1620px;
    padding: 40px 15px;
}

.NawsPage__title {
    font-family: "Nunito";
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
    /* background-color: red; */
}

.NewsPage__nav-wrapper {
    padding: 20px;
}

.NewsPage__nav {
    background-color: rgba(0, 0, 0, .04);
    display: flex;
    justify-content: space-between;
    font-family: "Nunito";
    padding: 30px;
    border-radius: 20px;
    /* border: 2px solid black; */
}

a {
    text-decoration: none;
    transition: .3s;
    /* color: black; */
}

a:hover {
    color: #0050ff;
}

li {
    list-style-type: none;
}

.active {
    color: #0050ff;
}